// .../*TEX:\bfs*/
import { BookResolver } from './shared/book-resolver.service';/*TEX:\bfe*/

@NgModule({
  // ...
  providers: [
    BookStoreService,
    { provide: LOCALE_ID, useValue: 'de' },/*TEX:\bfs*/
    BookResolver/*TEX:\bfe*/
  ]
})
export class AppModule { }
