// ...
<TEX>\boldline</TEX>import { BookResolver } from './shared/book-resolver.service';

@NgModule({
  // ...
  providers: [
    BookStoreService,
    { provide: LOCALE_ID, useValue: 'de' }
<TEX>\boldline</TEX>    BookResolver
  ]
})
export class AppModule { }
