<div class="ui middle aligned selection divided list"
     *ngIf="books$ | async as books; else loading">
  <a class="bm-book-list-item item"
     *ngFor="let b of books"
     [book]="b"
     [routerLink]="b.isbn"></a>
  <p *ngIf="!books.length" i18n="@@BookListComponent:no book">Es wurden noch keine Bücher eingetragen.</p>
</div>
<ng-template #loading>
  <div class="ui active dimmer">
    <div class="ui large text loader" i18n="@@BookListComponent:loading data">Daten werden geladen...</div>
  </div>
</ng-template>
