// ...
import { BookStoreService } from './shared/book-store.service';

@NgModule({
  declarations: [
    AppComponent,
    BookListComponent,
    BookListItemComponent,
    BookDetailsComponent
  ],
  imports: [
    BrowserModule
  ],
  providers: [
    BookStoreService // NEW!
    // ...
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }
