<TEX>\boldline</TEX>// Hier fehlen mehrere Import-Statements!
import { BookStoreService } from './shared/book-store.service';

@NgModule({
  // ...
<TEX>\boldline</TEX>  providers: [
<TEX>\boldline</TEX>    BookStoreService
<TEX>\boldline</TEX>    // ...
<TEX>\boldline</TEX>  ]
})
export class AppModule { }
