/*TEX:\bfs*/
// Hier fehlen mehrere Import-Statements!/*TEX:\bfe*/
import { BookStoreService } from './shared/book-store.service';

@NgModule({
  // .../*TEX:\bfs*/
  providers: [
    BookStoreService
    // ...
  ]/*TEX:\bfe*/
})
export class AppModule { }
