<div class="ui grid">
  <div class="four wide column">
    <img class="ui large image" src="//placekitten.com/450/450">
  </div>
  <div class="twelve wide column" *ngIf="book">
    <h1 class="ui header">{{ book?.title }}</h1>
    <h3 class="ui header">{{ book?.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="#author of book?.authors; #l=last">
          {{ author }}<span *ngIf="!l">, </span>
        </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">ISBN</h4>
        {{ book?.isbn }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ book?.published }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Rating</h4>
        {{ book?.rating }}
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ book?.description }}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
      <!--<img *ngFor="#thumbnail of book?.thumbnails" src="{{thumbnail.url}}">-->
      <img src="//placekitten.com/150/150" alt="">
      <img src="//placekitten.com/150/150" alt="">
    </div>
  </div>
</div>
