// .../*TEX:\bfs*/
import { BookValidators } from '../shared/book.validators';/*TEX:\bfe*/

@Component({
  selector: 'bm-book-form',
  templateUrl: './book-form.component.html'
})
export class BookFormComponent implements OnInit {
  // ...

  initBook() {
    // ...

    this.myForm = this.fb.group({
      // ...
      isbn: [this.book.isbn, [
        Validators.required,
        BookValidators.isbnFormat
      ]/*TEX:\bfs*/, this.isUpdatingBook ? null : BookValidators.isbnExists(this.bs)/*TEX:\bfe*/]
    });
    this.myForm.statusChanges.subscribe(() => this.updateErrorMessages());
  }

  // ...

  buildAuthorsArray() {
    this.authors = this.fb.array(this.book.authors/*TEX:\bfs*/, BookValidators.atLeastOneAuthor/*TEX:\bfe*/);
  }

  // ...
}
