// ...
import { BookValidators } from '../shared/book.validators';

@Component({
  selector: 'bm-book-form',
  templateUrl: './book-form.component.html'
})
export class BookFormComponent implements OnInit {
  // ...

  initBook() {
    this.myForm = this.fb.group({
      // ...
      isbn: [this.book.isbn, [
        Validators.required,
        BookValidators.isbnFormat
      ], this.isUpdatingBook ? null : BookValidators.isbnExists(this.bs)]
    });
    this.myForm.valueChanges.subscribe(() => this.updateErrorMessages());
  }

  // ...

  buildAuthorsArray(): FormArray {
    this.authors = this.fb.array(this.book.authors, BookValidators.atLeastOneAuthor);
    return this.authors;
  }

  // ...
}
