// ...
export const BookFormErrorMessages = [
  new ErrorMessage('isbn', 'isbnFormat', 'Die ISBN Nummer muss aus 10 oder 13 Zeichen bestehen'),
  new ErrorMessage('isbn', 'isbnExists', 'Die ISBN Nummer existiert bereits'),
  // ...
];
