// ...
export const BookFormErrorMessages = [
  new ErrorMessage('isbn', 'isbnFormat', 'Die ISBN muss aus 10 oder 13 Zeichen bestehen'),
  new ErrorMessage('isbn', 'isbnExists', 'Die ISBN existiert bereits'),
  new ErrorMessage('authors', 'atLeastOneAuthor', 'Es muss ein Autor angegeben werden'),
  // ...
];
