import { Injectable } from '@angular/core';
import { FormControl } from '@angular/forms';
import { Observable } from 'rxjs';

@Injectable()
export class BookValidatorsService {

  constructor(){ }

  isbnFormat(control: FormControl): { [error: string]: any } { }

  isbnExists(control: FormControl): Observable<{ [error: string]: any }> { }
}


