import { FormControl, FormArray } from '@angular/forms';
import { Observable } from 'rxjs';

import { BookStoreService } from '../shared/book-store.service';

export class BookValidators {

  static isbnFormat() { }

  static atLeastOneAuthor() { }

  static isbnExists() { }
}
