@Component({
  // ...
})
export class BookListComponent implements OnInit {
  books: Book[];
  @Output() /*TEX:\bfs*/showDetailsEvent/*TEX:\bfe*/ = new EventEmitter<Book>();

  /*TEX:\bfs*/ngOnInit()/*TEX:\bfe*/ {
    this.books = [
      // ...
    ]
  }

  // im HTML:
  // <a *ngFor="let b of books" [book]="b" (click)="showDetails(b)"></a>
  /*TEX:\bfs*/showDetails/*TEX:\bfe*/(book: Book) {
    this.showDetailsEvent.emit(book);
  }
}
