import { Component, OnInit, Output, EventEmitter } from '@angular/core';
import { Book, Thumbnail } from '../shared/book';

@Component({
  // ...
})
export class BookListComponent implements OnInit {
  books: Book[];
  @Output() showDetailsEvent = new EventEmitter<Book>();

  ngOnInit() {
    // ...
  }

  showDetails(book: Book) {
    this.showDetailsEvent.emit(book);
  }
}
