import { Component, OnInit, /*TEX:\bfs*/Output, EventEmitter/*TEX:\bfe*/ } from '@angular/core';
import { Book, Thumbnail } from '../shared/book';

@Component({
  // ...
})
export class BookListComponent implements OnInit {
  books: Book[];/*TEX:\bfs*/
  @Output() showDetailsEvent = new EventEmitter<Book>();/*TEX:\bfe*/

  ngOnInit() {
    // ...
  }
/*TEX:\bfs*/
  showDetails(book: Book) {
    this.showDetailsEvent.emit(book);
  }/*TEX:\bfe*/
}
