import { Component, OnInit, <TEX>\bfseries Output, EventEmitter</TEX> } from '@angular/core';
import { Book, Thumbnail } from '../shared/book';

@Component({
  // ...
})
export class BookListComponent implements OnInit {
  books: Book[];
<TEX>\boldline</TEX>  @Output() showDetailsEvent = new EventEmitter<Book>();

  ngOnInit() {
    // ...
  }

<TEX>\boldline</TEX>  showDetails(book: Book) {
<TEX>\boldline</TEX>    this.showDetailsEvent.emit(book);
<TEX>\boldline</TEX>  }
}
