# See http://help.github.com/ignore-files/ for more about ignoring files.

# ignore webstorms temporary files
.idea/

# ignore semantic-ui folder except the theme-config
**/semantic/**/*
!**/semantic/src/theme.config

# compiled output
dist/
tmp/

# dependencies
node_modules/
bower_components/
typings/

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
.DS_Store


# some .js files
**/src/**/*.js
*.map
