@Injectable()
export class BookStoreService {
  // ...

  constructor(private http: HttpClient) {
    // ...
  }

  getAll(): Observable<Array<Book>> {
    return this.http
      .get<any[]>(`${this.api}/books`)
      .retry(3)
      .map(rawBooks => rawBooks
        .map(rawBook => BookFactory.fromObject(rawBook))
      )
      .catch(this.errorHandler);
  }
}
