@Injectable()
export class BookStoreService {
  // ...

  constructor(private http: Http) {
    // ...
  }

  getAll(): Observable<Array<Book>> {
    return this.http
      .get(`${this.api}/books`)
      .retry(3)
      .map(response => response.json())
      .map(rawBooks => rawBooks
        .map(rawBook => BookFactory.fromObject(rawBook))
      );
  }
}
