<form [formGroup]="registerForm">
  <label>Benutzername:</label>
  <input formControlName="username" type="text">

  <label>Passwort:</label>
  <input formControlName="password" type="password">
  
  <fieldset formGroupName="name">
    <label>Vorname:</label>
    <input formControlName="firstname" type="text">

    <label>Nachname:</label>
    <input formControlName="lastname" type="text">
  </fieldset>

  <fieldset formArrayName="email">
    <label>E-Mail-Adressen:</label>
    <input type="text">
    <input type="text">
    <input type="text">
  </fieldset>

  <button type="submit">Registrieren</button>
</form>