<h1>Buchformular</h1>
<form [formGroup]="myForm"
      (ngSubmit)="submitForm(myForm)"
      class="ui form grid">

  <div class="four wide column">
    <h4>Buchtitel</h4>
  </div>
  <div class="eleven wide column form">
    <input formControlName="title"/>
    <div class="ui negative message"
         *ngIf="myForm.controls.title.dirty && !myForm.controls.title.valid">
      Geben Sie den Titel des Buches an.
    </div>
  </div>

  <div class="four wide column">
    <h4>Untertitel</h4>
  </div>
  <div class="eleven wide column">
    <input formControlName="subtitle">
  </div>

  <div class="four wide column">
    <h4>Erscheinungsdatum</h4>
  </div>
  <div class="eleven wide column">
    <input formControlName="published">
    <div class="ui message"
        [ngClass]="{negative: myForm.controls.published.touched}"
         *ngIf="myForm.controls.published.dirty && !myForm.controls.published.valid">
      Bitte geben Sie das Datum mit folgendem Format ein: dd.MM.yyyy
    </div>
  </div>

  <div class="row">
    <div class="four wide column">
      <h4>Autoren</h4>
    </div>
    <div class="eleven wide column">
      <div class="fields">
        <div formArrayName="authors"
            *ngFor="let control of authors.controls; let i = index"
            class="sixteen wide field">
            <input formControlName="{{i}}" placeholder="Autor {{i+1}}">
        </div>
      </div>
      <div class="ui negative message"
           *ngIf="myForm.controls.authors.dirty
              && !myForm.controls.authors.valid">
        Geben Sie mindestens einen Autor an.
      </div>
    </div>
    <div class="one wide field">
      <button type="button"
              (click)="addAuthorControl()"
              [disabled]="!myForm.controls.authors.valid"
              class="ui button"> + </button>
    </div>
  </div>

  <div class="four wide column">
    <h4>ISBN</h4>
  </div>
  <div class="eleven wide column">
    <input formControlName="isbn">
    <div class="ui negative message"
         *ngIf="myForm.controls.isbn.dirty && myForm.controls.isbn.touched && myForm.controls.isbn.errors && myForm.controls.isbn.errors.isbn">
      Geben Sie eine gültige ISBN an.
    </div>
  </div>

  <div class="four wide column">
    <h4>Beschreibung</h4>
  </div>
  <div class="eleven wide column">
    <textarea formControlName="description" rows="3"></textarea>
  </div>

  <div class="row">
    <div class="four wide column">
      <h4>Thumbnails</h4>
    </div>
    <div class="eleven wide column">
        <div formArrayName="thumbnails"
            *ngFor="let control of thumbnails.controls; let i = index">
            <div [formGroupName]="i" class="inline fields">
                <input formControlName="url" placeholder="http://bild{{i+1}}_Url">
                <input formControlName="title" placeholder="Bild {{i+1}} Titel">
            </div>
          </div>
        </div>
    <div class="one wide field">
      <button type="button" class="ui button"
              (click)="addThumbnailControl()"
              [disabled]="!myForm.controls.thumbnails.valid"> +
      </button>
    </div>
  </div>

  <div class="four wide column"></div>
  <div class="right twelfe wide column">
    <button type="submit" class="ui button"
            [disabled]="!myForm.valid">
      Speichern
    </button>
  </div>

</form>
