// ...
import { BookResolver } from '../shared/book-resolver.service';

const routes: Routes = [
  // ...
  {
    path: ':isbn',
    component: BookFormComponent,
<TEX>\boldline</TEX>    resolve: {
<TEX>\boldline</TEX>      book: BookResolver
<TEX>\boldline</TEX>    }
  }
];

@NgModule({
  // ...
})
export class AdminRoutingModule { }
