import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
// ...

const routes: Routes = [
  // ...
  {/*TEX:\bfs*/
    path: 'books',/*TEX:\bfe*/
    loadChildren: 'app/book/book.module#BookModule'
  },
  {/*TEX:\bfs*/
    path: 'admin',/*TEX:\bfe*/
    loadChildren: 'app/admin/admin.module#AdminModule'
  }
];

@NgModule({
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule],
})
export class AppRoutingModule { }
