import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
// ...

const routes: Routes = [
  // ...
  {
<TEX>\boldline</TEX>    path: 'books',
    loadChildren: 'app/book/book.module#BookModule'
  },
  {
<TEX>\boldline</TEX>    path: 'admin',
    loadChildren: 'app/admin/admin.module#AdminModule'
  }
];

@NgModule({
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule],
})
export class AppRoutingModule { }
