// ...
import { AppRoutingModule } from './app-routing.module';

@NgModule({
  declarations: [/* ... */],
  imports: [BrowserModule, AppRoutingModule],
  providers: [BookStoreService],
  bootstrap: [AppComponent]
})
export class AppModule { }
