// .../*TEX:\bfs*/
import { AppRoutingModule } from './app-routing.module';/*TEX:\bfe*/

@NgModule({
  declarations: [
    // ...
  ],
  imports: [BrowserModule, /*TEX:\bfs*/AppRoutingModule/*TEX:\bfe*/],
  providers: [BookStoreService],
  bootstrap: [AppComponent]
})
export class AppModule { }
