// ...
<TEX>\boldline</TEX>import { AppRoutingModule } from './app-routing.module';

@NgModule({
  declarations: [
    // ...
  ],
  imports: [BrowserModule, <TEX>\bfseries AppRoutingModule</TEX>],
  providers: [BookStoreService],
  bootstrap: [AppComponent]
})
export class AppModule { }
