<div class="ui two item tabs menu">
  <a routerLink="home"  /*TEX:\bfs*/routerLinkActive="active"/*TEX:\bfe*/ class="item">Home</a>
  <a routerLink="books" /*TEX:\bfs*/routerLinkActive="active"/*TEX:\bfe*/ class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
