import {bootstrap} from 'angular2/platform/browser';
import {BookMonkey} from './app/book-monkey';
import {ROUTER_PROVIDERS} from 'angular2/router';

bootstrap(NavigationApp, [
  ROUTER_PROVIDERS
]);
