<div class="ui two item tabs menu">
  <a /*TEX:\bfs*/routerLink="home"/*TEX:\bfe*/ class="item">Home</a>
  <a /*TEX:\bfs*/routerLink="books"/*TEX:\bfe*/ class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
