<div class="ui two item tabs menu">
  <a <TEX>\bfseries routerLink="home"</TEX> class="item">Home</a>
  <a <TEX>\bfseries routerLink="books"</TEX> class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
