<div class="ui two item tabs menu">
  <a routerLink="home"  <TEX>\bfseries routerLinkActive="active"</TEX> class="item">Home</a>
  <a routerLink="books" <TEX>\bfseries routerLinkActive="active"</TEX> class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
