// ...
<TEX>\boldline</TEX>import { BookFormComponent } from './book-form/book-form.component';

export const routes: Routes = [
  // ...
<TEX>\boldline</TEX>  {
<TEX>\boldline</TEX>    path: 'admin',
<TEX>\boldline</TEX>    component: BookFormComponent
<TEX>\boldline</TEX>  }
];
// ...
