// .../*TEX:\bfs*/
import { BookFormComponent } from './book-form/book-form.component';/*TEX:\bfe*/

export const routes: Routes = [
  // .../*TEX:\bfs*/
  {
    path: 'admin',
    component: BookFormComponent
  }/*TEX:\bfe*/
];
// ...
