// .../*TEX:\bfs*/
import { DateValueAccessorModule } from 'angular-date-value-accessor';/*TEX:\bfe*/

@NgModule({
  imports: [
    // .../*TEX:\bfs*/
    DateValueAccessorModule/*TEX:\bfe*/
  ],
  // ...
})
export class AppModule { }
