// ...
<TEX>\boldline</TEX>import { DateValueAccessorModule } from 'angular-date-value-accessor';

@NgModule({
  imports: [
    // ...
<TEX>\boldline</TEX>    DateValueAccessorModule
  ],
  // ...
})
export class AppModule { }
