<h2>Ein Buch hinzufügen</h2>

<form [ngFormModel]="myForm"
      (ngSubmit)="submitForm(myForm)"
      class="pure-form pure-form-aligned">

  <div class="pure-control-group">
    <label for="title">Buchtitel</label>
    <input ngControl="title">
  </div>

  <div class="pure-control-group">
    <label for="subtitle">Untertitel</label>
    <input ngControl="subtitle">
  </div>

  <div class="pure-control-group">
    <label for="authors">Autoren:</label>
    <span ngControlGroup="authors">
      <span *ngFor="#control of authorsControlArray.controls; #i = index; #l=last">
        <input ngControl="{{i}}" placeholder="Autor {{i+1}}">
        <span *ngIf="l">
          <button type="button" (click)="addAuthorControl()"  class="pure-button"> + </button>
        </span>
      </span>
    </span>
  </div>

  <div class="pure-control-group">
    <label for="isbn">ISBN</label>
    <input ngControl="isbn">
  </div>

  <div class="pure-control-group">
    <label for="rating">Rating</label>
    <input ngControl="rating" type="number">
  </div>

  <div class="pure-control-group">
    <label for="published">Veröffentlicht</label>
    <input ngControl="published">
  </div>

  <div class="pure-control-group">
    <label for="thumbnails">Bilder:</label>
    <span ngControlGroup="thumbnails">
      <span *ngFor="#control of thumbnailsControlArray.controls; #i = index; #l=last">
        <span ngControlGroup="{{i}}">
          <input ngControl="url" placeholder="Url {{i+1}}">
          <input ngControl="title" placeholder="Titel {{i+1}}">
        </span>
        <span *ngIf="l">
          <button type="button" (click)="addThumbnailControl()" class="pure-button"> + </button>
        </span>
      </span>
    </span>
  </div>
  
  <div class="pure-controls">
    <button type="submit" class="pure-button">Buch hinzufügen</button>
  </div>
</form>
