import { Component } from '@angular/core';
import { BookList } from './book-list/book-list.component';

@Component({
  selector: 'app-root',
  directives: [BookList],
  template: `<book-list></book-list>`
})
export class AppComponent { }
