@Injectable()
export class BookStoreService {
  books: Book[];

  constructor() {
    this.books = [
      // ...
    ];
  }

<TEX>\boldline</TEX>  getAll() {
<TEX>\boldline</TEX>    return this.books;
<TEX>\boldline</TEX>  }
}
