import {Component} from 'angular2/core';
import {BookList} from './book-list/book-list.component';

@Component({
  selector: 'book-monkey',
  directives: [BookList],
  template: `<book-list></book-list>`
})
export class BookListComponent { }
