// VORHER
ngOnInit() {
  let params = this.route.snapshot.params;
  this.bs.getSingle(params['isbn'])
    .subscribe(b => this.book = b);
}

// NACHHER
ngOnInit() {
  this.book = this.route.snapshot.data['book'];
}
