/*TEX:\bfs*/
// VORHER/*TEX:\bfe*/
ngOnInit() {
  const params = this.route.snapshot.params;
  this.bs.getSingle(params['isbn'])
    .subscribe(b => this.book = b);
}
/*TEX:\bfs*/
// NACHHER/*TEX:\bfe*/
ngOnInit() {
  this.book = this.route.snapshot.data['book'];
}
