<TEX>\boldline</TEX>// VORHER
ngOnInit() {
  const params = this.route.snapshot.params;
  this.bs.getSingle(params['isbn'])
    .subscribe(b => this.book = b);
}

<TEX>\boldline</TEX>// NACHHER
ngOnInit() {
  this.book = this.route.snapshot.data['book'];
}
