import { bootstrap } from 'angular2/platform/browser';
import { BookMonkeyAppComponent } from './app/book-monkey';
import { ROUTER_PROVIDERS } from 'angular2/router';
import { HTTP_PROVIDERS } from 'angular2/http';

bootstrap(BookMonkeyAppComponent, [
  ROUTER_PROVIDERS,
  HTTP_PROVIDERS
]);
