<img class="ui tiny image" src="{{ book?.thumbnails[0].url }}">
<div class="content">
  <div class="header">{{ book?.title }}</div>
  <div class="description"> {{ book?.subtitle }} </div>
  <div class="metadata">
    <span *ngFor="let author of book.authors; let l=last">
      {{ author }}<span *ngIf="!l">, </span>
    </span>
  </div>
  <div class="extra">ISBN {{ book?.isbn }}</div>
</div>
<div class="right floated content">
  <div class="ui massive icon input">
    <input type="number" min="0" max="5" [value]="book.rating">
    <i class="yellow star icon"></i>
  </div>
</div>
