import { Component, Input, <TEX>\bfseries Output, EventEmitter</TEX> } from '@angular/core';
import { Book } from '../shared/book';

@Component({
  // ...
})
export class BookDetailsComponent {
  @Input() book: Book;
<TEX>\boldline</TEX>  @Output() showListEvent = new EventEmitter<any>();

  // ...

<TEX>\boldline</TEX>  showBookList() {
<TEX>\boldline</TEX>    this.showListEvent.emit();
<TEX>\boldline</TEX>  }
}
