import { Component, Input, /*TEX:\bfs*/Output, EventEmitter/*TEX:\bfe*/ } from '@angular/core';
import { Book } from '../shared/book';

@Component({
  // ...
})
export class BookDetailsComponent {
  @Input() book: Book;/*TEX:\bfs*/
  @Output() showListEvent = new EventEmitter<any>();/*TEX:\bfe*/

  // ...
/*TEX:\bfs*/
  showBookList() {
    this.showListEvent.emit();
  }/*TEX:\bfe*/
}
