@Component({
  selector: 'app-root',
  template: `
    <book-list *ngIf="listOn"></book-list>
    <book-details *ngIf="detailsOn" [book]="book"></book-details>
  `
})
export class AppComponent {
  listOn: boolean = true;
  detailsOn: boolean = false;

  book: Book;
}
