<h1>Buchformular</h1>
<form novalidate
       class="ui large form"
       #myForm="ngForm"
       (ngSubmit)="submitForm()">

  <div class="field">
    <label>Buchtitel</label>
    <input
      name="title"
      [(ngModel)]="book.title"
      required>
    <div *ngIf="errors.title" class="ui negative message">
      {{ errors.title }}
    </div>
  </div>
  <div class="field">
    <label>Untertitel</label>
    <input
      name="subtitle"
      [(ngModel)]="book.subtitle">
  </div>
  <div class="field">
    <label>ISBN-Nummer</label>
    <input
      name="isbn"
      [(ngModel)]="book.isbn"
      required
      minlength="10"
      maxlength="13">
    <div *ngIf="errors.isbn" class="ui negative message">
      {{ errors.isbn }}
    </div>
  </div>
  <div class="field">
    <label>Erscheinungsdatum</label>
    <input
      type="date"
      name="published"
      [(ngModel)]="book.published"
      useValueAsDate
      required>
    <div *ngIf="errors.published" class="ui negative message">
      {{ errors.published }}
    </div>
  </div>
  <div class="field">
    <label>Autor</label>
    <input
      name="author"
      [(ngModel)]="book.authors[0]"
      required>
    <div *ngIf="errors.author" class="ui negative message">
      {{ errors.author }}
    </div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea
      name="description"
      [(ngModel)]="book.description"
      rows="3"></textarea>
  </div>
  <div class="field">
    <label>Bild</label>
    <div class="two fields" ngModelGroup="thumbnail">
      <div class="field">
        <input
          name="url"
          [(ngModel)]="book.thumbnails[0].url"
          placeholder="http://beispiel/img.jpg">
      </div>
      <div class="field">
        <input
          name="title"
          [(ngModel)]="book.thumbnails[0].title"
          placeholder="Titel">
      </div>
    </div>
  </div>

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
