<h1>Buchformular</h1>
<form #myForm="ngForm"
      (ngSubmit)="submitForm(myForm.value); myForm.reset()"
      class="ui form grid">

  <div class="four wide column">
    <h4>Buchtitel</h4>
  </div>
  <div class="eleven wide column">
    <input name="title" ngModel required>
  </div>

  <div class="four wide column">
    <h4>Untertitel</h4>
  </div>
  <div class="eleven wide column">
    <input name="subtitle" ngModel>
  </div>

  <div class="four wide column">
    <h4>Erscheinungsdatum</h4>
  </div>
  <div class="eleven wide column">
    <input type="date" name="published" ngModel required>
  </div>

  <div class="four wide column">
    <h4>Autoren</h4>
  </div>
  <div class="eleven wide column">
    <input type="text" name="authors" ngModel required>
  </div>

  <div class="four wide column">
    <h4>ISBN</h4>
  </div>
  <div class="eleven wide column">
    <input name="isbn" ngModel required>
  </div>

  <div class="four wide column">
    <h4>Beschreibung</h4>
  </div>
  <div class="eleven wide column">
    <textarea  name="isbn" ngModel rows="3"></textarea>
  </div>

  <div class="row">
    <div class="four wide column">
      <h4>Thumbnail</h4>
    </div>
    <div class="eleven wide column"  ngModelGroup="thumbnail">
      <div class="fields">
        <input name="url" ngModel placeholder="http://beispiel/img.jpg">
        <input name="title" ngModel placeholder="Titel">
      </div>
    </div>
  </div>

  <div class="four wide column"></div>
  <div class="right twelfe wide column">
    <button type="submit" class="ui button" [disabled]="!myForm.valid">Speichern</button>
  </div>

</form>