<h1>Buchformular</h1>
<form #myForm="ngForm"
      (ngSubmit)="submitForm(); myForm.reset()"
      class="ui form grid">

  <div class="four wide column">
    <h4>Buchtitel</h4>
  </div>
  <div class="eleven wide column">
    <input name="title" [(ngModel)]="book.title">
  </div>

  <div class="four wide column">
    <h4>Untertitel</h4>
  </div>
  <div class="eleven wide column">
    <input name="subtitle" [(ngModel)]="book.subtitle">
  </div>

  <div class="four wide column">
    <h4>Erscheinungsdatum</h4>
  </div>
  <div class="eleven wide column">
    <input type="date" name="published" [(ngModel)]="book.published">
  </div>

  <div class="four wide column">
    <h4>Autoren</h4>
  </div>
  <div class="eleven wide column">
    <div class="fields" ngModelGroup="authors">
      <input name="0" [(ngModel)]="book.authors[0]">
      <input name="1" [(ngModel)]="book.authors[1]">
      <input name="2" [(ngModel)]="book.authors[2]">
      <input name="3" [(ngModel)]="book.authors[3]">
    </div>
  </div>

  <div class="four wide column">
    <h4>ISBN</h4>
  </div>
  <div class="eleven wide column">
    <input name="isbn" [(ngModel)]="book.isbn">
  </div>

  <div class="four wide column">
    <h4>Beschreibung</h4>
  </div>
  <div class="eleven wide column">
    <textarea  name="isbn" [(ngModel)]="book.description" rows="3"></textarea>
  </div>

  <div class="row">
    <div class="four wide column">
      <h4>Thumbnail</h4>
    </div>
    <div class="eleven wide column"  ngModelGroup="thumbnail">
      <div class="fields">
        <input name="url" [(ngModel)]="book.thumbnails[0].url" placeholder="http://beispiel/img.jpg">
        <input name="title" [(ngModel)]="book.thumbnails[0].title" placeholder="Titel">
      </div>
    </div>
  </div>

  <div class="four wide column"></div>
  <div class="right twelfe wide column">
    <button type="submit" class="ui button">Speichern</button>
  </div>

</form>

<div style="margin-top: 20px; white-space:pre">
  DEBUG: {{ book | json}}
</div>
