import { Component } from '@angular/core';
import { Book } from './shared/book';

@Component({
  selector: 'bm-root',/*TEX:\bfs*/
  template: `
    <bm-book-list *ngIf="listOn"></bm-book-list>
    <bm-book-details *ngIf="detailsOn" [book]="book"></bm-book-details>
  `/*TEX:\bfe*/
})
export class AppComponent {/*TEX:\bfs*/
  listOn = true;
  detailsOn = false;

  book: Book;/*TEX:\bfe*/
}
