import { Component } from '@angular/core';
import { Book } from './shared/book';

@Component({
  selector: 'bm-root',
  template: `
    <bm-book-list *ngIf="listOn"></bm-book-list>
    <bm-book-details *ngIf="detailsOn" [book]="book"></bm-book-details>
  `
})
export class AppComponent {
  listOn = true;
  detailsOn = false;

  book: Book;
}
