import { Component } from '@angular/core';

@Component({
  selector: 'register-form',
  templateUrl: 'register-form.component.html',
  styleUrls: [ 'register-form.component.css' ]
})
class RegisterForm {
  register(value: any) {
    console.log(value);
  }
}