<TEX>\boldline</TEX>import { ReactiveFormsModule } from '@angular/forms';
// ...

@NgModule({
  imports: [
    // ...
<TEX>\boldline</TEX>    ReactiveFormsModule
  ],
  // ...
})
export class AppModule { }
