<h2>Ein Buch hinzufügen</h2>

<form [ngFormModel]="myForm"
      (ngSubmit)="submitForm(myForm)">

  <div>
    <label for="title">Buchtitel</label>
    <input ngControl="title">
  </div>

  <div>
    <label for="subtitle">Untertitel</label>
    <input ngControl="subtitle">
  </div>

  <div>
    <label for="authors">Autoren:</label>
    <div ngControlGroup="authors">
      <div *ngFor="#control of authorsControlArray.controls; #i=index; #l=last">
        ({{i+1}})
        <input ngControl="{{i}}">
        <span *ngIf="l">
          <button type="button" (click)="addAuthorControl()"> + </button>
        </span>
      </div>
    </div>
  </div>

  <div>
    <label for="isbn">ISBN</label>
    <input ngControl="isbn" #isbn="ngForm">
    <span *ngIf="!isbn.valid && isbn.errors.isbn">
      Geben Sie eine gültige ISBN an.
    </span>
  </div>

  <div>
    <label for="rating">Rating</label>
    <input ngControl="rating" type="number" #rating="ngForm"> {{ debug }}
    <span *ngIf="!rating.valid && rating.errors.rating">
      Wählen Sie eine Bewertung zwischen 1 und 5.
    </span>
  </div>

  <div>
    <label for="published">Veröffentlicht</label>
    <input ngControl="published" #published="ngForm">
    <span *ngIf="!published.valid && published.errors.germanDate">
      Bitte geben Sie das Datum mit folgendem Format ein: dd.MM.yyyy
    </span>
  </div>

  <div>
    <label for="thumbnails">Bilder:</label>
    <div ngControlGroup="thumbnails">
      <div *ngFor="#control of thumbnailsControlArray.controls; #i = index; #l=last">
        <span ngControlGroup="{{i}}">({{i+1}})
          <small for="url">Url:</small>
          <input ngControl="url">
          <small for="title">Titel:</small>
          <input ngControl="title">
        </span>
        <span *ngIf="l">
          <button type="button" (click)="addThumbnailControl()"> + </button>
        </span>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Buch hinzufügen</button>

</form>
