// ...
import { CanNavigateToAdminGuard } from './can-navigate-to-admin.guard';

export const routes: Routes = [
  // ...
  {
    path: 'admin',
    loadChildren: 'app/admin/admin.module#AdminModule',
<TEX>\boldline</TEX>    canActivate: [CanNavigateToAdminGuard]
  }
];

@NgModule({
  // ...
})
export class AppRoutingModule { }
