// ...
import { CanNavigateToAdminGuard } from './can-navigate-to-admin.guard';

export const routes: Routes = [
  // ...
  {
    path: 'admin',
    loadChildren: 'app/admin/admin.module#AdminModule',/*TEX:\bfs*/
    canActivate: [CanNavigateToAdminGuard]/*TEX:\bfe*/
  }
];

@NgModule({
  // ...
})
export class AppRoutingModule { }
