import { Injectable } from '@angular/core';
import { CanActivate } from '@angular/router';

@Injectable()
export class CanNavigateToAdminGuard /*TEX:\bfs*/implements CanActivate/*TEX:\bfe*/ {

  /*TEX:\bfs*/canActivate(): boolean/*TEX:\bfe*/ {
    // TODO
  }
}
