// ...
import { BookModule } from './book/book.module';
import { AdminModule } from './admin/admin.module';

@NgModule({
  declarations: [AppComponent, HomeComponent],
  imports: [
    // ...
    BookModule,
    AdminModule
  ],
  providers: [BookStoreService],
  bootstrap: [AppComponent]
})
export class AppModule { }
