// ...
import { BookModule } from './book/book.module';
import { AdminModule } from './admin/admin.module';

@NgModule({
  declarations: [AppComponent, HomeComponent, SearchComponent],
  imports: [
    // ...
 <TEX>\boldline</TEX>   BookModule,
 <TEX>\boldline</TEX>   AdminModule
  ],
  providers: [
    BookStoreService,
    { provide: LOCALE_ID, useValue: 'de' }
  ],
  bootstrap: [AppComponent]
})
export class AppModule {
  constructor() {
    registerLocaleData(localeDe);
  }
}
