// ...
<TEX>\boldline</TEX>import { DelayDirective } from './shared/delay.directive';

@NgModule({
  declarations: [
    // ...
<TEX>\boldline</TEX>    DelayDirective
  ],
  // ...
})
export class AppModule { }
