// .../*TEX:\bfs*/
import { ZoomDirective } from './shared/zoom.directive';/*TEX:\bfe*/

@NgModule({
  declarations: [
    // .../*TEX:\bfs*/
    ZoomDirective/*TEX:\bfe*/
  ],
  // ...
})
export class AppModule { }
