// .../*TEX:\bfs*/
import { DelayDirective } from './shared/delay.directive';/*TEX:\bfe*/

@NgModule({
  declarations: [
    // .../*TEX:\bfs*/
    DelayDirective/*TEX:\bfe*/
  ],
  // ...
})
export class AppModule { }
