// ...
import { BookStoreService } from '../shared/book-store.service';

// ...
export class BookListComponent implements OnInit {
  // ...

  constructor(private bs: BookStoreService) { }

  ngOnInit() {
    this.books = this.bs.getAll();
  }

  // ...
}
