<div class="ui vertical segment">
    <div class="ui text container">
      <h1 class="ui header">
        <div class="content">
          Angular
          <div class="sub header">Einstieg in die komponentenbasierte Entwicklung von Web- und Mobile-Anwendungen</div>
        </div>
      </h1>

      <a href="http://angular-buch.com/"><img class="ui right floated image" src="https://angular-buch.com/angular-buch_small.png"></a>

      <h3>Der BookMonkey – Das Beispielprojekt zum Buch</h3>
      <p></p>
      <a routerLink="iteration-1" class="ui huge red button">
        Jetzt starten
        <i class="right arrow icon"></i>
      </a>
    </div>
</div>
