import { Component, Input } from '@angular/core';
import { Book, Thumbnail } from '../shared/book';

@Component({
  selector: 'book-details',
  moduleId: module.id,
  templateUrl: 'book-details.component.html'
})
export class BookDetailsComponent {
  @Input() book: Book;
}
