// ...

export class BookFormComponent implements OnInit {
  // ...

  ngOnInit() {
    const isbn = this.route.snapshot.params['isbn'];
    if (isbn) {
      this.isUpdatingBook = true;
      this.bs.getSingle(isbn)
        .subscribe(book => {
          this.book = book;
          this.initBook();
        });
    }
    this.initBook();
  }

  // ...
}
