<div class="ui five steps">
  <a [routerLink]="['iteration-1']"
     activeClass="active"
     class="step">
    <div class="content">
      <div class="title">Iteration-1</div>
      <div class="description">Komponenten</div>
    </div>
  </a>
  <a [routerLink]="['iteration-2']"
     activeClass="active"
     class="step">
    <div class="content">
      <div class="title">Iteration-2</div>
      <div class="description">Dependency-Injection und Routing</div>
    </div>
  </a>
  <a [routerLink]="['iteration-3']"
     activeClass="active"
     class="step">
    <div class="content">
      <div class="title">Iteration-3</div>
      <div class="description">Formulare und Validierung</div>
    </div>
  </a>
  <a [routerLink]="['iteration-4']"
     activeClass="active"
     class="step">
    <div class="content">
      <div class="title">Iteration-4</div>
      <div class="description">Http</div>
    </div>
  </a>
  <a [routerLink]="['iteration-5']"
     activeClass="active"
     class="step">
    <div class="content">
      <div class="title">Iteration-5</div>
      <div class="description">Pipes und Direktiven</div>
    </div>
  </a>
</div>
<router-outlet></router-outlet>
