// ...
import { BookValidatorsService } from './shared/book-validators.service';

@NgModule({
  // ...
  providers: [
    // ...
    BookValidatorsService
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }
